---
import { LoginForm } from "@/components/auth/login-form";
import LayoutAuth from "@/layouts/Layout-auth.astro";
---

<LayoutAuth title="login">
    <div class="flex min-h-svh w-full items-center justify-center p-6 md:p-10">
        <div class="w-full max-w-sm">
            <LoginForm client:load />
        </div>
    </div>
</LayoutAuth>
