---
import { HeaderAvatar } from "./header-avatar";
import { HeaderNav } from "./header-nav";
---

<header class="sticky bg-white top-0 z-50 py-4 px-6 w-full border-b">
    <div class="flex justify-between gap-52">
        <h1 class="flex w-full text-3xl">Jammies</h1>
        <HeaderNav />
        <HeaderAvatar />
    </div>
</header>
